.data-dictionary {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f9f9f9;
  color: #333;
}

.data-dictionary-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px; 
}


h1 {
  text-align: center;
  color: #2c3e50;
}

.table-container {
  background-color: white;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  max-width: 800px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 8px;
}

th {
  background-color: #4CAF50;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}
